body {
  width: 100vw;
  height: 100vh;
}

.max {
flex-grow: 1;
min-width: 100px;
min-height: 100px;
}


.min {
min-width: 100px;
min-height: 100px;
}

#cernej {
background-color: rgb(1, 1, 1);
}

#zelenej {
background-color: hsl(140, 42%, 60.8%);
}

#zelenejsi {
background-color: chartreuse;
}

#bilej {
  background-color: aliceblue;
}

#cervenej {
background-color: firebrick;
}

.vedle {
display: flex;
}

.pod {
display: flex;
flex-direction: column;
}